[submodule "sentencepiece"]
	path = sentencepiece
	url = https://github.com/cimeister/sentencepiece.git
	branch = fixed-vocab-em
[submodule "tokenizers"]
	path = tokenizers
	url = https://github.com/Ahmetcanyvz/tokenizers.git
	branch = unimixlm_fast
